{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<p style="font-size: 1.1em; margin: 0">
    <a href="dashboard">Dashboard</a>
    <a href="payments">Payments</a>
    <a href="tokens">Tokens</a>
    <a href="docs">Docs API</a>
    <a class="active" href="#">About</a>
</p>
<hr style="margin-bottom: 25px">

<!-- About content goes here -->

<h3> About </h3>

<p>
    This is a simple payment service that allows you to accept customer payments using token key and api.
    Created for demonstration purposes. The project is written 100% in rust, using clean architecture.
</p>

<p>
    Made with love by <a href="https://github.com/JKearnsl">JKearnsl</a>.
    Source code available on <a href="https://github.com/JKearnsl/payment-service">GitHub</a>.
</p>


{% endblock content %}