{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<p style="font-size: 1.1em; margin: 0">
    <a style="margin: 0 3px 0 3px" href="dashboard">Dashboard</a>
    <a style="margin: 0 3px 0 3px" href="payments">Payments</a>
    <a style="margin: 0 3px 0 3px" href="tokens">Tokens</a>
    <a style="margin: 0 3px 0 3px" href="docs">Docs API</a>
    <a style="margin: 0 3px 0 3px" class="active" href="#">About</a>
</p>
<hr style="margin-bottom: 25px">

<!-- About content goes here -->

<h3> About </h3>

<p>
    This is a simple payment service that allows you to accept customer payments using token key and api.
    Created for demonstration purposes. The project is written 100% in rust, using clean architecture.
</p>

<p>
    Made with love by <a href="https://github.com/JKearnsl">JKearnsl</a>.
    Source code available on <a href="https://github.com/JKearnsl/payment-service">GitHub</a>.
</p>


{% endblock content %}