{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<p style="font-size: 1.1em; margin: 0">
    <a class="active" href="#">Dashboard</a>
    <a href="payments">Payments</a>
    <a href="tokens">Tokens</a>
    <a href="docs">Docs API</a>
    <a href="about">About</a>
</p>
<hr style="margin-bottom: 25px">

<!-- Dashboard content goes here -->

<table>
    <tbody>
        <tr>
            <td align="left" style="border-bottom: none; padding: 0">Hello <strong id="username"></strong>!</td>
            <td align="right" style="border-bottom: none; padding: 0; cursor: pointer" id="leaveButton"><a>leave</a></td>
        </tr>
    </tbody>
</table>

<p>Sales statistics are collected here</p>


<canvas id="payments-chart"></canvas>
<br>
<table>
    <tbody>
    <tr>
        <td align="left" style="border-bottom: none; padding: 0"><strong>Balance:</strong></td>
        <td align="right" style="border-bottom: none; padding: 0" id="balance">ye</td>
    </tr>
    <tr>
        <td align="left" style="border-bottom: none; padding: 0"><strong>Maximum purchase:</strong></td>
        <td align="right" style="border-bottom: none; padding: 0" id="maxPurchase">ye</td>
    </tr>
    <tr>
        <td align="left" style="border-bottom: none; padding: 0"><strong>Minimum purchase:</strong></td>
        <td align="right" style="border-bottom: none; padding: 0" id="minPurchase">ye</td>
    </tr>
    <tr>
        <td align="left" style="border-bottom: none; padding: 0"><strong>Last purchase in</strong></td>
        <td align="right" style="border-bottom: none; padding: 0" id="lastPurchase">ye</td>
    </tr>
    </tbody>
</table>

<script>
    const balance = document.querySelector('#balance');
    const maxPurchase = document.querySelector('#maxPurchase');
    const minPurchase = document.querySelector('#minPurchase');
    const lastPurchase = document.querySelector('#lastPurchase');
    const username = document.querySelector('#username');
    const leaveButton = document.querySelector('#leaveButton');

    maxPurchase.textContent = '0.00 y.e.';
    minPurchase.textContent = '0.00 y.e.';

    fetch('/api/users/self', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            username.textContent = data.username;
            balance.textContent = parseFloat(data.balance).toFixed(2) + ` y.e.`;
        })
        .catch(_ => {
            window.location.replace('/auth/login');
        });

    fetch('/api/payments', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(async response => {
            if (!response.ok) {
                throw new Error(await response.text());
            }
            return response.json();
        })
        .then(data => {
            let payments = data;
            if (payments.length > 0) {

                if (payments.filter(p => p.state === 'Paid').length !== 0) {
                    maxPurchase.textContent = parseFloat(Math.max(...payments.filter(
                        p => p.state === 'Paid'
                    ).map(p => p.amount))).toFixed(2) + ` y.e.`;
                    minPurchase.textContent = parseFloat(Math.min(...payments.filter(
                        p => p.state === 'Paid'
                    ).map(p => p.amount))).toFixed(2) + ` y.e.`;
                }

                let date = new Date(payments[0].created_at);
                let userLang = navigator.language || 'en-US';
                let formattedDate = date.toLocaleDateString(userLang, {
                    day: '2-digit',
                    month: '2-digit',
                    year: '2-digit'
                });

                let formattedTime = date.toLocaleTimeString(userLang, {
                    hour: '2-digit',
                    minute: '2-digit',
                });

                lastPurchase.textContent = `${formattedDate} at ${formattedTime}`;
            }
        })
        .catch(error => {
            console.log(error);
        });

    leaveButton.addEventListener('click', () => {
        fetch('/api/sessions/self', {
            method: 'DELETE'
        })
            .then(async response => {
                if (!response.ok) {
                    throw new Error(await response.text());
                }
            })
            .then(_ => {
                window.location.replace('/auth/login');
            })
            .catch(error => {
                console.log(error);
            });
    });
</script>
<script type="module" src="/static/payments_chart.js"></script>

{% endblock content %}