{% extends "payment.html" %}

{% block amount %}
{{ amount }}
{% endblock amount %}

{% block store %}
{{ store }}
{% endblock store %}

{% block order %}
{{ order }}
{% endblock order %}

{% block head %}
{{ super() }}
<style>

    .credit-card {
        width: 360px;
        height: 400px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
    }
    .form-header {
        height: 60px;
        padding: 20px 30px 0;
        border-bottom: 1px solid #e1e8ee;
    }

    .form-body {
        height: 240px;
        padding: 30px 30px 20px;
    }
    /* Title */
    .title {
        font-size: 18px;
        margin: 0;
        color: #5e6977;
    }
    /* Common */
    .card-number,
    .cvv-input input,
    .month select,
    .year select {
        font-size: 14px;
        font-weight: 100;
        line-height: 14px;
    }

    .card-number,
    .month select,
    .year select {
        font-size: 14px;
        font-weight: 100;
        line-height: 14px;
    }

    .card-number,
    .cvv-details,
    .cvv-input input,
    .month select,
    .year select {
        opacity: .7;
        color: #86939e;
    }
    /* Card Number */
    .card-number {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
    }
    /* Date Field */
    .month select,
    .year select {
        width: 145px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        background: url('caret.png') no-repeat;
        background-position: 85% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .month select {
        float: left;
    }

    .year select {
        float: right;
    }
    /* Card Verification Field */
    .cvv-input input {
        float: left;
        width: 145px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        background: #fff;
    }

    .cvv-details {
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        float: right;
        margin-bottom: 20px;
    }

    .cvv-details p {
        margin-top: 6px;
    }
    /* Buttons Section */
    .paypal-btn,
    .proceed-btn {
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        border-color: transparent;
        border-radius: 6px;
    }

    .proceed-btn {
        margin-bottom: 10px;
        background: #7dc855;
    }

    .proceed-btn a {
        color: #fff;
    }
    .date-field {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }


</style>
{% endblock head %}

{% block payment_form %}

    <form class="credit-card">
        <div class="form-header">
            <h4 class="title">Credit card detail</h4>
        </div>

        <div class="form-body">
            <!-- Card Number -->
            <input type="text" class="card-number" placeholder="Card Number" value="5550 1309 6672 6224">

            <!-- Date Field -->
            <div class="date-field">
                <div class="month">
                    <select name="Month">
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option selected value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                </div>
                <div class="year">
                    <select name="Year">
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option selected value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
            </div>

            <!-- Card Verification Field -->
            <div class="card-verification">
                <div class="cvv-input">
                    <input type="text" placeholder="CVV" value="893">
                </div>
                <div class="cvv-details">
                    <p>3 or 4 digits usually found <br> on the signature strip</p>
                </div>
            </div>

            <button type="submit" class="proceed-btn">Pay</button>
        </div>
    </form>

<script>
    const form = document.querySelector('.credit-card');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const cardNumber = form.querySelector('.card-number').value;
        const month = form.querySelector('.month select').value;
        const year = form.querySelector('.year select').value;
        const cvv = form.querySelector('.cvv-input input').value;
        const data = {
            cardNumber,
            month,
            year,
            cvv
        };
        const paymentId = '{{ order }}';
        const store = '{{ store }}';

        // Send data to the server, but we skip this step for now

        // Redirect to the success page
        window.location.href = '/payments/process?id=' + paymentId + '&store=' + store;

    });

</script>

{% endblock payment_form %}
